$base-menu-width: 260px; //左侧菜单的宽度
$base-menu-background: #001529; //左侧菜单背景颜色
$base-tabbar-height: 50px; //顶部导航的高度
$base-menu-logo-height: 50px; //左侧菜单LOGO高度设置
$base-logo-title-fontSize: 20px; //左侧菜单logo右侧文字大小
$base-menu-min-width: 50px; //左侧菜单最小宽度
